{% extends "account/base.html" %}

{% load i18n %}
{% load static %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
{% get_providers as socialaccount_providers %}
<div class="section" id="loginSection">
	<h2>Login</h2>
	{% if error_message %} <div class="error-message">{{ error_message }}</div>{% endif %}
	<h4>Ainda não tem uma conta?</h4>
	<a href="{% url 'account_signup' %}" id="abrirCadastro">Cadastrar!</a>
	<form method="post" class="login-form form_credentials" action="{% url 'account_login' %}">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit">Entrar</button>
	</form>
</div>
{% endblock %}
