{% load static %}
{% load i18n %}
<footer>
    <div class="footer-img">
        <img src="{% static 'heranca/images/footer-img.svg' %}" alt="footer-img">
    </div>
    <div class="footer-media">
        <div class="footer-media-social">
            <a href="https://www.facebook.com/profile.php?id=100093649415123&mibextid=ZbWKwL"  target="_blank" class="social-img"><img src="{% static 'heranca/images/facebook.png' %}" alt=""></a>
            <a href="https://instagram.com/ifheranca.br?igshid=MjEwN2IyYWYwYw==" target="_blank" class="social-img"><img src="{% static 'heranca/images/instagram.png' %}" alt=""></a>
            <a href="https://twitter.com/BrHeranca81461?t=X0hbDFXeKxIR_7zlz3URFA&s=08" target="_blank" class="social-img"><img src="{% static 'heranca/images/twitter.png' %}" alt=""></a>
        </div>
        <div class="footer-policy">
            <h2 class="footer-policy-text">{% trans "POLÍTICA DE PRIVACIDADE" %}</h2>
            <h2 class="footer-policy-text">{% trans "TERMOS DE USO" %}</h2>
            <h2 class="footer-policy-text">{% trans "CENTRAL DE AJUDA" %}</h2>
        </div>
        <div class="footer-copyright">
            <h2 class="footer-copyright-text">&copy;2023</h2>
        </div>
    </div>
</footer>   