{% load static %}
{% load i18n %}

{% if quiz is None %}
<header>
    <img class="header-logo" src="{% static 'heranca/images/logo.png' %}" alt="logo">
    <form id="header-search-form" class="header-form" method="POST">
        {% csrf_token %}
        <input class="header-search" name="header-search" type="text" placeholder="{% if search_placeholder_text %}{{search_placeholder_text}}
        {% else %}{% trans "Digite a palavra" %}
        {% endif %}"      
        value="{{text_value}}">
        <button type="submit" class="search-icon-btn">
            <img class="search-icon" src="{% static 'heranca/images/lupa.png'%}" alt="lupa">
        </button>
    </form>
    <div class="sidebar-btn">
        <img src="{% static 'heranca/images/menu.png' %}" alt="menu-btn" id="home-linkstyle-menu" onclick="entrar()">
    </div>
    <nav class="header-nav">
        <ul class="header-nav-ul">
            <li class="nav-li"><a class="nav-li-links" href="{% url 'index' %}">{% trans "INÍCIO" %}</a></li>
            <li class="nav-li"><a class="nav-li-links" href="{% url 'dict_indigenous' %}">{% trans "DICIONARIO" %}</a></li>
            <li class="nav-li"><a class="nav-li-links" href="{% url 'community' %}">{% trans "COMUNIDADE" %}</a></li>
            <li class="nav-li"><a class="nav-li-links"  href="{% url 'about' %}">
                {% if '/en/' in request.path  %}
                ABOUT
                {% else %}
                SOBRE
                {% endif %}
            </a></li>
            {% if 'en/' in request.path  %}
            <li class="nav-li"><a class="nav-li-links"  href="{% url 'set-language' 'pt-br' %}">{% trans "PT-BR" %}</a></li>
            {% else %}
            <li class="nav-li"><a class="nav-li-links"  href="{% url 'set-language' 'en' %}">{% trans "EN-US" %}</a></li>
            {% endif %}
            
            {% if user.is_authenticated and "accounts/profile/" in request.path %}
            <li class="nav-li"><a class="nav-li-links" href="{% url 'account_logout' %}" id="">{% trans "SAIR" %}</a></li>
            {% elif user.is_authenticated%}
            <li class="nav-li"><a class="nav-li-links" href="{% url 'profile_logged'  %}" id="">{% trans "PERFIL" %}</a></li>
            {% else %}
            <li class="nav-li"><a class="nav-li-links" href="{% url 'account_login' %}" id="menu-login">{% trans "ENTRAR" %}</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
{% elif quiz is True %}
    <header class="quiz-header">
        <div class="quiz-header-text">
            <b>{{obj.name}} - <span id="question-number">1</span>/{{ obj.number_of_questions }}</b>
        </div>
        <a href="{% url 'quizes:main-view' %}"  class="quiz-exit">
            <div>
                &times;
            </div>
        </a>
    </header>
{% endif %}

