{% load static %}
{% load i18n %}
{% include 'heranca/partials/sidebar.html' %}
<header>
    <script src="{% static 'heranca/js/sidebar.js' %}"></script>
    {% include 'heranca/partials/sidebar.html' %}
    <img class="header-logo" src="{% static 'heranca/images/logo.png' %}" alt="logo">
    <form id="header-search-form" class="header-form" method="POST">
        {% csrf_token %}
        <input class="header-search" name="header-search" type="text" placeholder="
        {% if search_placeholder_text %}{{search_placeholder_text}}
        {% else %}Digite a palavra
        {% endif %}"      
        value="{{text_value}}">
        <button type="submit" class="search-icon-btn">
            <img class="search-icon" src="{% static 'heranca/images/lupa.png'%}" alt="lupa">
        </button>
    </form>
    <div class="sidebar-btn">
        <img src="{% static 'heranca/images/menu.png' %}" alt="menu-btn" id="home-linkstyle-menu" onclick="entrar()">
    </div>
    <nav class="header-nav">
        <ul class="header-nav-ul">
            <li class="nav-li"><a class="nav-li-links" href="{% url 'index' %}">INÍCIO</a></li>
            <li class="nav-li"><a class="nav-li-links" href="{% url 'dict_indigenous' %}">DICIONARIO</a></li>
            <li class="nav-li"><a class="nav-li-links"  href="{% url 'quizes:main-view' %}">QUIZ</a></li>
            {% if 'en/' in request.path  %}
            <li class="nav-li"><a class="nav-li-links"  href="{% url 'set-language' 'pt-br' %}">PT-BR</a></li>
            {% else %}
            <li class="nav-li"><a class="nav-li-links"  href="{% url 'set-language' 'en' %}">EN-US</a></li>
            {% endif %}
            
            {% if user.is_authenticated %}
            <li class="nav-li"><a class="nav-li-links" href="{% url 'account_logout' %}" id="">SAIR</a></li>
            {% else %}
            <li class="nav-li"><a class="nav-li-links" href="{% url 'account_login' %}" id="menu-login">ENTRAR</a></li>
            {% endif %}
        </ul>
    </nav>
</header>