{% load static %}
<header>
    <img class="header-logo" src="{% static 'heranca/images/logo.png' %}" alt="logo">
    <form class="header-form" action="">
        <input class="header-search" type="text" placeholder="Digite a palavra">
        <img class="search-icon" src="{% static 'heranca/images/lupa.png'%}" alt="lupa">
    </form>
    <div class="sidebar-btn">
        <img src="{% static 'heranca/images/menu.png' %}" alt="menu-btn">
    </div>
    <nav class="header-nav">
        <ul class="header-nav-ul">
            <li class="nav-li"><a class="nav-li-links" href="{% url 'index' %}">INÍCIO</a></li>
            <li class="nav-li"><a class="nav-li-links" href="#">QUEM SOMOS</a></li>
            <li class="nav-li"><a class="nav-li-links"  href="#">QUIZ</a></li>
            <li class="nav-li"><a class="nav-li-links"  href="#">PT-BR</a></li>
            {% if user.is_authenticated %}
            <li class="nav-li"><a class="nav-li-links" href="{% url 'account_logout' %}" id="">SAIR</a></li>
            {% else %}
            <li class="nav-li"><a class="nav-li-links" href="{% url 'account_login' %}" id="menu-login">ENTRAR</a></li>
            {% endif %}
        </ul>
    </nav>
</header>