{% load static %}
{% load i18n %}
<section class="home1">
    <div class="home1-block">
        <div class="block3">
            <div>
                <img class="fundo1" src="{% static 'heranca/images/home1.svg'%}" alt="home1img">
            </div>
        </div>
        <div class="block1">
            <div>
                <h1 class="block1-title">{% trans "Descubra tudo sobre as tribos indígenas da nossa região!" %}</h1>
                <p class="block1-text">{% trans "Venha ver a história dos <b>maiores povos indígenas que se localizam perto de Manacapuru,"%}</b> {% trans " todas as dificuldades que esses povos indígenas passam ou passaram."%} </p>
                <p class="block1-text">{% trans "Venha fazer parte dessa " %}<b>{% trans "conscientização indígena e aprenda mais sobre as origens e heranças dos povos indigenas!!." %}</b></p>
                <a class="signup" id="cadastroButton" href="{% url 'account_signup' %}">{% trans "Cadastre-se<" %}/a>
            </div>
            
        </div>
        <div class="block2">
            <img class="fundo1" src="{% static 'heranca/images/home1.svg'%}" alt="home1img">
        </div>
    </div>
</section>
<section class="home2">
    <div class="icons">
        <div class="icon-detail">
            <a class="" href="#">
                <div class="icon-img">
                    <img src="{% static 'heranca/images/quiz.png'%}" alt="">
                </div>
                <div class="icon-main-text">
                    <h2>{% trans "Tribo Próximas" %}</h2>
                </div>
            </a>
            <div class="icon-subtext">
                <h3>{% trans "Saiba onde encontrar tribos próximas a você para visitá-las." %}</h3>
                <a class="icon-more" href="{% url 'account_signup' %}">{% trans "Cadastre-se para sabe mais" %}</a>
            </div>
        </div>
        <div class="icon-detail">
            <a class="" href="#">
                <div class="icon-img">
                    <img src="{% static 'heranca/images/quiz.png'%}" alt="">
                </div>
                <div class="icon-main-text">
                    <h2>Tribo Próximas</h2>
                </div>
            </a>
            <div class="icon-subtext">
                <h3>Saiba onde encontrar tribos próximas a você para visitá-las.</h3>
                <a class="icon-more" href="{% url 'account_signup' %}">Cadastre-se para sabe mais</a>
            </div>
        </div>
        <div class="icon-detail">
            <a class="" href="#">
                <div class="icon-img">
                    <img src="{% static 'heranca/images/quiz.png'%}" alt="">
                </div>
                <div class="icon-main-text">
                    <h2>Tribo Próximas</h2>
                </div>
            </a>
            <div class="icon-subtext">
                <h3>Saiba onde encontrar tribos próximas a você para visitá-las.</h3>
                <a class="icon-more" href="{% url 'account_signup' %}">Cadastre-se para sabe mais</a>
            </div>
        </div>
        <div class="icon-detail">
            <a class="" href="#">
                <div class="icon-img">
                    <img src="{% static 'heranca/images/quiz.png'%}" alt="">
                </div>
                <div class="icon-main-text">
                    <h2>Tribo Próximas</h2>
                </div>
            </a>
            <div class="icon-subtext">
                <h3>Saiba onde encontrar tribos próximas a você para visitá-las.</h3>
                <a class="icon-more" href="{% url 'account_signup' %}">Cadastre-se para sabe mais</a>
            </div>
        </div>
    </div>
</section>