{% load static %}
<section class="home1">
    <div class="home1-block">
        <div class="block3">
            <div>
                <img class="fundo1" src="{% static 'heranca/images/fundo1.png'%}" alt="">
            </div>
        </div>
        <div class="block1">
            <div>
                <h1 class="block1-title">Descubra tudo sobre as tribos indígenas da nossa região!</h1>
                <p class="block1-text">Venha ver a história dos <b>maiores povos indígenas que se localizam perto de Manacapuru,</b> todas as dificuldades que esses povos indígenas passam ou passaram.</p>
                <p class="block1-text">Venha fazer parte dessa <b>conscientização indígena e aprenda mais sobre as origens e heranças dos povos indigenas!!.</b></p>
                <a class="signup" id="cadastroButton" href="#">Cadastre-se</a>
            </div>
            
        </div>
        <div class="block2">
            <div>
                <img class="fundo1" src="{% static 'heranca/images/fundo1.png'%}" alt="">
            </div>
        </div>
    </div>
</section>