*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: 'ruda';
    src: url(../fonts/Ruda-Black.ttf) format('truetype');
}
@font-face {
    font-family: 'articulate';
    src: url(../fonts/Articulate.ttf) format('truetype');
}
@font-face {
    font-family: 'poppins';
    src: url(../fonts/Poppins-Medium.ttf) format('truetype');
}
@font-face {
    font-family: 'demo';
    src: url(../fonts/Bright.otf) format('opentype');
}
@keyframes slideIn {
    from {
        right: -300px;
    }
    to {
        right: 0; 
    }
}



header{
    background-color: rgb(255, 255, 255);
    padding: 30px 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  

.header-logo{
    display: block;
    width: 100px;
  
}
.search-icon-btn{
    background-color: transparent;
    border: none;
    position: relative; 
    right: 40px;
    width: 28px;
}
.search-icon{
    position: relative; 
    right: 3px;
    width: 28px;
}
.header-form{
    display: flex;
    align-items: center;
    width: 400px;
}

.header-nav{
    height: 100%;
    
    font-family: ruda;
}
.header-nav-ul{
    font-family: helvetica;
    display: flex;
    align-items: center;
    height: 100%;
    margin-bottom: 0 !important;
}

#sidebar::-webkit-scrollbar { 
    display: none;
  }


#sidebar{
    display: none;
    font-family: var(--fontPrimary);
    background-color: #D9D9D9;
    position: fixed;
    top: 0;
    right: -300px; 
    width: 250px;
    height: 100%;
    z-index: 999999;
    transition: left 0.3s ease-in-out;
    overflow-y: scroll;
}
.sidebar-show {
    right: 0 ;
    animation: slideIn 0.3s forwards;
}
.sidebar-user{
    width: 100%;
    padding: 25px;
    display: flex;
    justify-content: space-evenly;  
    align-items: center;
}
.sidebar-user h3{
    font-family: ruda;
    text-align: center;
}
.user-img{
    height: 60px;
}
.user-img img{
    height: 100%;
}
.user-name{
    font-size: 18px;
}

#sidebar-off{
    display: none;
    z-index: 100;
    position: fixed;
    background-color: #00000055;
    width: 200%;
    height: 300%;
}

#sidebar > h3, .sidebar-p{
    font-family: ruda;
    padding: 10px 25px;
    text-align: left !important;
}

.sidebar-block:hover{
    background-color: #BFBFBF;
    color: black !important;
    font-size: 21px;
}
.sidebar-block {
    font-family: poppins;
    transition: 0.5s;
    display: block;
    width: 100%;
    margin: 10px auto;
    padding: 10px 25px;
    text-decoration: none;
    text-align: left !important;
    color: black !important;
    background-color: #D9D9D9;
    position: relative;
}
  
.sidebar-block-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}



.nav-li{
    list-style: none;
}
.sidebar-btn{
    display: none;
}
.sidebar-btn:hover{
    cursor: pointer !important;
}
.header-search{
    font-size: 16px;
    display: inline;
    margin: auto;
    width: 100%;
    height: 38px;
    border-radius: 8px;
    padding-left: 10px;
    border: 2px solid #572102;

}
.nav-li > a{
    color: black !important;
}
.nav-li-links{
    text-align: center;
    color: #602417;
    text-decoration: none;
    display: block;
    font-size: 17px;
    padding: 5px 10px;
    margin: 0 24px 0 0;

}
.nav-li-links:hover{
    color: black !important;
}
.home1{
    display: block;
    padding: 20px;
}
.home1-block{
    display: flex;
    justify-content: space-between;
   
}
.block1, .block2{
    display: flex;
    justify-content: center;
    align-items: center;
   
   /* border: 1px solid black;*/

}
.block1{
    margin: 0px 20px;
    padding: 0px 20px;
    width: 59%;
}
.block2{
    width: 41%;
}
.fundo1{
    width: 100%;
}

.block1-title{
    font-family: ruda;
    font-size: 3.2vw;
    color: #C3282E;
    
    margin-bottom: 10px;
    text-align: justify;
    
}
.block1-text{
    font-family: poppins;
    font-size: 1.9vw;
    font-weight: 500;
    text-align: justify;
    text-indent: 50px;
    color:#572102;
}
b{
    color: #7D2102;
}

.block3 > div, .block3{
    width: 200px;
    display: none;
}
@media (min-width: 1568px) {
    .block1-title{
        font-size: 55px !important;
    }
    .block1-text{ 
        font-size: 35px !important;
    }
    .phrase-main-text{
        font-size: 50px !important;
    }
    .phrase-author-text{
        font-size: 55px !important;
    }
}
@media (max-width:1235px){
    .header-form{
        width: 300px !important;
    }
    .nav-li-links{
        margin: 0 14px 0 0 !important;
    
    }
    .home1{
        padding: 0px !important;
    }
    .home1-block{
        display: block !important;
        margin: auto !important;

    }
    .block3 > div, .block3{
        width: 400px !important;
        display: block !important;
        margin: auto !important;
    }
    .block3 > div > img{
        width: 100% !important;
        height: 100% !important;
    }

    .block1, .block3{
        display: block !important;
        margin: auto !important;
        width: 83% !important;
        padding:  0px !important;    
    }
    .block > div{
        display: block !important;
        margin: auto !important;
       
    }
    .block2{
        display: none;
    }
    .icons{
        height: 360px !important;
    }
    .icon-detail{
        width: 160px !important; 
    }
    .icon-img{
        width: 150px !important;
    }
    .icon-main-text{
        bottom: 30px !important;
    }
    .icon-main-text > h2{
        font-family: ruda;
        font-size: 16px !important;
    }
    .icon-subtext{
        bottom: 20px !important;
    }
    .icon-subtext > h3{
        font-size: 13px !important;   
    }
    .icon-more{
        font-size: 13px !important;
    }

    .footer-media{
        bottom: 16px !important;
    }
    .social-img, .social-img >img{
        width: 40px !important;
    }
    .footer-policy-text, .footer-copyright-text{
        font-size: 1.7vw !important;
    }
    
    
}
@media (max-width: 1150px){
    .header-nav{
        display: none !important;
    }
    .sidebar-btn{
        display: block;
    }
    .block3 > div, .block3{
        width: 280px !important;
    }
    .signup{
        font-size: 16px !important;
        padding: 9px 18px !important;
        width: 140px !important;
    }
    .home1-block{
        display: block !important;
        margin: auto !important;
    
    }
}

@media (max-width:767px){
    .home3 > h2{
        padding: 8px 15px !important;
        font-size: 17px !important;
        width: 130px !important;
    }
    

    .slide-button-content > button{
        background-color: transparent;
        font-size: 28px;
        top: 75px !important;     
    }
    .slide-btn-center{
        width: 87%;
    }

}
@media (max-width:650px){
    .user-name{
        font-size: 16px !important;
    } 
    .signup{
        font-size: 14px !important;
        padding: 8px 7px !important;
        width: 135px !important;
    }

    .home1-block{
        display: block !important;
        margin: auto !important;
    }
    .block1-title{
        font-size: 4vw !important;
    }
    .block1-text{
        font-size: 3vw !important;
    }
    .icons{
        height: 250px !important;
    }

    .icon-detail{
        width: 100px !important; 
    }
    .icon-img{
        width: 85px !important;
    }
    .icon-main-text{
        bottom: 20px !important;
    }
    .icon-main-text > h2{
        font-family: ruda;
        font-size: 12px !important;
    }
    .icon-subtext{
        bottom: 15px !important;
    }
    .icon-subtext > h3{
        font-size: 10px !important;   
    }
    .icon-more{
        font-size: 9px !important;
    }
    .home5-block{
        font-size: 13px !important;
    }


    .footer-media{
        bottom: 12px !important;
    }
    .social-img, .social-img >img{
        width: 26px !important;
    }
    .footer-policy-text, .footer-copyright-text{
        font-size: 1.7vw !important;
    }
    
}
@media (max-width:415px){
    .user-name{
        font-size: 15px !important;
    }
    .header-logo{
        display: none !important;
    }
    .block3 > div, .block3{
        width: 230px !important;
    }
    .signup{
        font-size: 10px !important;
        padding: 8px 7px !important;
        width: 120px !important;
    }
    .icons{
        height: 150px !important;
    }
    .icon-detail{
        width: 60px !important; 
    }
    .icon-img{
        width: 55px !important;
    }
    .icon-main-text{
        bottom: 16px !important;
    }
    .icon-main-text > h2{
        font-family: ruda;
        font-size: 5px !important;
    }
    .icon-subtext{
        bottom: 15px !important;
    }
    .icon-subtext > h3{
        font-size: 5px !important;   
    }
    .icon-more{
        font-size: 4px !important;
    }
    .home3 > h2{
        padding: 5px 11px !important;
        font-size: 11px !important;
        width: 105px !important;
    }

    .slide-button {
        height: 200px !important;
    }
    .slide-button-content > button{
        background-color: transparent;
        font-size: 20px;
        padding: 20px 8px !important;
        top: 80px !important;    
        border: 1px solid black; 
    }
    .slide-btn-center{
        width: 87%;
    }
    .home5-block{
        font-size: 7px !important;
    }

    .footer-media{
        bottom: 8px !important;
    }
    .social-img, .social-img >img{
        width: 22px !important;
    }
    .footer-policy-text, .footer-copyright-text{
        font-size: 1.5vw !important;
    }
}

#modalBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 20;
}

#modalContent {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
   
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 10;
    border-radius: 20px;
    text-align: center;
}

#fecharModalButton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: center;
    font-size: 24px;
    padding-bottom: 6px;
    height: 30px;
    width: 30px;
    border: none;
    cursor: pointer;
    color: black;
    z-index: 100;
}
#fecharModalButton:hover {
    border: 1px solid rgba(0, 0, 0, 0.29);
}
.section{
    position: relative;

}
.section h2 {
    margin-top: 35px;
    font-family: poppins;
    font-size: 29px;
    color: #A82020;
    width: 100%;
}
.section > h4, .login-form > h4{
    display: inline-block;
    margin: 14px 0 20px 0;
    text-align: center;
    color: #8F8E8E;
    font-size: 14px;
}
.login-form > h4{
    margin: 0;
}
.section > a, .login-form > a{
    display: inline;
    color: #2567ff;
    font-size: 14px;
}
.section > form{
    padding-top: 10px;
    display: block;
    height: 90%;
}
.login-form > p:last-of-type{
    display: none;
}
.form_credentials > p > label{
    display: block;
    width: 100%;
}
.form_credentials > p  > label{
    font-family: sans-serif;
    color: #8F8E8E;
    text-align: left;
    width: 90%;
    padding: 0 20px;
}
.form_credentials > p  > input{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.204);
    outline: none;
    border: none;
    width: 88%;
    padding: 15px 20px;
    border-radius: 7px;
    font-size: small;
}
.form_credentials > p  > input:focus{
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.378);
}
.section form > button {
    margin-top: 20px;
    box-shadow: none;
    border: none;
    font-size: 20px;
    display: block;
    padding: 10px 24px;
    background: #C3282E;
    color: #ffffff;
    width: 100%;
    text-decoration: none;
    border-radius: 8px;
    
    text-align: center;
    transition: 0.3s ease-in-out;
}

.section form > button:hover {
    transform: translateY(-2px);
}

#errorMessages {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #f44336;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    display: none;
}

.errorlist{
    display: none;
}



.signup{
    display: block;
    padding: 10px 24px;
    width: 180px;
    border-radius: 12px;
    transition: 0.3s ease-in-out;
    text-align: center;
    font-family: ruda;
    font-size: 20px;
    text-decoration: none;
    margin: 30px auto 10px auto;
    background: #C3282E;
    color: #ffffff;

}
.signup:hover{
    color: white  !important;
    transform: translateY(-10px);
}


.icons{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 400px;
}
.icon-detail{
    display: block;
    width: 260px;
    transition: .4s;
}
.icon-detail:hover{
    transform: translateY(-10px);
}
.icon-detail > a{
    display: block;
    width: 100%;
    text-decoration: none !important;
}
.icon-img{
    display: block;
    width: 220px;
    margin: auto;
}
.icon-img img{
    width: 100%;
    height: 100%;
}
.icon-main-text{
    text-align: center;
    position: relative;
    bottom: 40px;
    text-decoration: none;
    border-radius: 10px;
    padding: 3px 15px;
    color: white;
    background: #CC362F;
}
.icon-main-text > h2{
    font-family: ruda;
    font-size: 24px;
}
.icon-subtext{
    position: relative;
    bottom: 22px;
    text-align: center;
}
.icon-subtext > h3{
    font-size: 16px;
    font-family: poppins;
    color: #572102;
}
.icon-subtext > a{
    font-family: poppins;
    color: #CC362F;
}



.home3 > h2{
    padding: 8px 15px;
    background-color: #F78E1C;
    color: white;
    font-family: ruda;
    width: 240px;
    text-align: center;
    margin: 20px auto;
}
.home3 > h2:hover{
    cursor: pointer !important;
}
.slide-button-content > button{
    background-color: transparent;
    font-size: 34px;
    cursor: pointer;
    padding: 40px 15px;
    position: relative;
    top: 70px;
    z-index: 100;
    background-color: transparent;
    border: none;
    color: white;
 
}
.slide-button-content{
    width: 100%;
    height: 0px;
    display: flex;
    justify-content: space-evenly;
}
.slide-btn-center{
    width: 87%;
    height: 0px;
}



.slides {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 290px;
}
.owl-carousel .owl-stage {
    display: flex;
    align-items: center;
    transition: 0.6s;
}

.owl-carousel .owl-item {
    width: 700px; 
    height: 400px; 
    margin: 0 5px; 
}
.slide {
    display: flex;
    align-items: center;
    height: 290px;
}


.slide-title {

    position: relative;
    bottom: 70px;
    padding: 0 20px;
    color: white !important;
    font-size: larger;

}
.content {
    width: 100%;
    height: 100%;
}
.slide-img {
    width: 100%;
    height: 100%;

}



.slide-selection {
    display: flex;
    margin: auto;
    justify-content: center;
}
.slide-option-btn {
    padding: 5px;
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgba(185, 185, 185, 0.389);
    margin: 6px 3px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.6s;
}

.slide-option:checked + .slide-option-btn {
    background-color: rgb(45, 45, 45); /* Ou qualquer outra propriedade de estilo que você desejar */
}

.more-news{
    min-width: 200px;
    max-width: 360px;
    
}
.more-news:hover{
    transform: translateY(0) !important;
    cursor: pointer !important;

}
.phrase{
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.phrase-text{
    width: 60%;
}
.phrase-main-text,.phrase-author-text{
    font-family: poppins;
    text-align: justify;
    width: 100%;
    display: block;
    padding: 6px 2px ;
}
.phrase-main-text{
    color: #572102;
    font-weight: 500;
    font-size: 3.7vw;
    height: 90%;
}
.phrase-author-text{
    color: #572102;
    font-weight: 600;
    font-size: 4.2vw;
    height: 10%;
}
.phrase-img{
    width: 40%;
}
.phrase-img img{
    width: 100%;
}
.home5-blocks{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.home5-blocks{
    width: 100%;
}
.home5-block{
    width: 100%;
    padding: 12px 25px;
    font-family: poppins;
    font-size: 20px;
}
.home5-block-img{
    margin: auto;
    width:50%;
    padding: 10px;
}
.home5-block-img > img{
    margin: auto;
    width:100%;
}


footer{
    width: 100%;
    background-color: #C3282E;

}
.footer-img{
    background-color: #C3282E;
    display: block;
    width: 100%;
    height: 100%;
}
.footer-img > img{
    width: 100%;
    height: 100%;
}
.footer-media{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    bottom: 20px;
    width: 100%;

}
.footer-meida-social{
    display: flex;
    justify-content: space-evenly;
}
.social-img, .social-img > img{
    width: 50px;
    border-radius: 50% !important;
}
.footer-policy{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.footer-policy-text{
    font-family: poppins;
    font-size: 20px;
    margin-right: 20px;
    color: white;
}
.footer-copyright{
    display: flex;
    align-items: center;
    text-align: center;
}
.footer-copyright-text{
    font-family: poppins;
    font-size: 20px;
    color: white;
}



/* Dict */

@media (max-width: 660px){
    .dict_word_popup h2{
        font-size: large !important;
    }

    .see_more_dict > h2{
       font-size: medium !important;
    }
    .more-dict{
        height: 270px !important;
    }
    .more_dict_block{
        padding: 15px !important;
        height: 240px !important;

    }
}
@media (max-width: 470px){
    .more-dict{
        display: block !important;
        height: 500px !important;
    }
    .more_dict_block{
        width: 80% !important;
    }
}
@media (max-width: 400px){
    .more_dict_dict_word h2{
        font-size: small !important;
    }
    .dict_word_popup h2{
        font-size: medium !important;
    }

}

.background_popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter:  blur(0.8px);
    z-index: -1;
}
.dict_block_popup {
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.382);
    border-radius: 10px;
    padding: 15px 20px;
    max-width: 640px;
    min-width: 200px;
    max-height: 400px;
    background-color: white;
    margin: 30px auto;
    overflow-y: scroll;
    

}
.dict_letter-popup{
    margin-bottom: 3px;
    font-size: xx-large;
    display: flex;
    align-items: center;
}
.dict_word_popup h2{
    font-family: poppins;
    font-weight: 500;
    font-size: x-large;
    text-align: justify;
}

.dict_block_popup::-webkit-scrollbar { 
    display: none;
  }

.main-width{
    margin: auto;
    min-width: 100px;
    max-width: 1100px; 
    padding: 0 20px;
}
.bottom-img, .bottom-img-popup{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom-img-popup{   
    width: 100%;
    z-index: -99;
}
.img-gratient-detail{
    padding-bottom: 10px;
    background-image: linear-gradient( to bottom, transparent 94%, #F78E1C, white);
}

.bottom-img-popup img, .bottom-img img{
    margin: 0 auto;
    height: 100%;
    width: calc(100% + 10vh);
}

@media (max-width:1000px){
    .bottom-img-popup img, .bottom-img img{
        width: 140% !important;
    }
}
@media (max-width: 800px){
    .dict_letter-popup{
        font-size: large !important;

    }
    .more_dict_dict_word h2{
        font-size: medium !important;
    }
    .more_dict_block{
        padding: 10px !important;
        height: 150px !important;
    }
}
@media (max-width:700px){
    .bottom-img-popup img, .bottom-img img{
        width: 180% !important;
    }
}
@media (max-width:500px){
    .bottom-img-popup img, .bottom-img img{
        width: 234% !important;
    }
}
@media (min-height:600px){
    .bottom-img, .bottom-img-popup{

        position: relative !important;  
    }
}




.home_dict_top{
    width: 100%;
    padding: 10px 30px;
}
.home_dict_top a{
   float: right;
}
.top-title, .home_dict_title, .dict_letter, .dict_letter-popup{
    color: #CC362F;
    font-family: ruda;
}
.dict_letter{
    margin-bottom: 3px;
    font-size: x-large;
    display: flex;
    align-items: center;
}
u{
    font-size: small;
    color:  #572102;
    text-decoration: none;
    float: right;
}
.dict_word h2{
    text-decoration: none;
    font-family: poppins;
    font-weight: 500;
    font-size: medium;
    text-align: justify;
}
.dict_word h2:hover{
    color:  #572102 !important;
}

.home_dict{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(265px,1fr)); 
    gap: 12px;
    justify-content: space-evenly;
    align-items: start;
    justify-items: center;
}
.dict_block{
    text-decoration: none;
    color:  #572102;
    width: 265px;
    padding: 10px 0px 20px 0px;
    overflow-y: hidden;
}
.dict_block:hover {
    color:  #572102 !important;
}


.letter_detail{
    width: 100%;
}
.see_more_dict{
    padding-bottom: 30px;
}
.see_more_dict > h2{
    padding: 8px 15px;
    background-color: #F78E1C;
    color: white;
    font-family: ruda;
    width: 240px;
    text-align: center;
    margin: 20px auto;
}
.more-dict{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;
    width: 100%;
}
.more_dict_block{
    overflow: hidden;
    margin: 10px auto;
    display: block;
    text-decoration: none;
    color: #572102;
    border: 1px solid rgba(0, 0, 0, 0.378);
    border-radius: 4px;
    padding: 20px;
    height: 240px;
    width: 32%;
    box-shadow: 2px 1px 20px rgba(0, 0, 0, 0.083);
}
.more_dict_block:hover{
    color: #572102 !important;
}


/* ABOUT */


.padding-none{
    padding: 0px !important;
}
.padding-none > p{
    margin: 1px 0 !important;
    padding: 0px !important;
}
.about-info-map{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.about-info-map > p{
    width: 64%;
}
.tribe-location{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34%;
    height: 200px;
}
.tribe-location > iframe, .tribe-location > img{
    height: 100%;
    width: 100%;
}

.about-info-text{
    font-family: poppins;
    padding-top: 31px;
}
.about-info-text > h1{
    font-family: ruda;
    font-size: large;
    padding: 3px 0;
}
.team > .top-title, .collaborators > .top-title{
    font-size: larger;
    padding-top: 27px;
}
.team-mates{
    padding: 25px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
@media (max-width: 886px){
    .team-mates{
        display: grid !important;
        grid-template-columns: repeat(auto-fit, minmax(170px,1fr))!important;
        gap: 12px !important;
        justify-content: space-evenly !important;
        align-items: center !important;
        justify-items: center !important;
    }
}

@media (max-width: 450px){
    .team-mate{
        width: 130px  !important;
    }
    .team-mate-img{
        height: 130px !important;
    }
}
.team-mate{
    width: 170px;
}
.team-mate-img{
    width: 100%;
    height: 170px;

}
.team-mate-img > img{
    width: 100%;
}
.team-mate-text{
    
    text-align: center;
}
.team-mate-text > h1{
    padding-top: 6px;
    font-family: ruda;
    font-size: medium;
    color: #7D2102;
}
.team-mate-text > h2{
    padding-top: 2px;
    font-family: poppins;
    font-size: small;
}
.collaborators{
    margin-bottom: 14px;
}
.collaborators > .top-title{
    margin-bottom: 6px;
}
.collaborators > h2{
    font-size: medium;
    padding-top: 5px;
    font-family: poppins;
    font-weight: 500;
}

@media (max-width: 640px){
    .top-title{
        font-size: medium !important;
    }
}

@media (max-width: 886px){
    
    .about-info-map{
        flex-direction: column  !important;
    }
    .about-info-map > p {
        width: 100%  !important;
    }
    .tribe-location {
        width: 240px  !important;
    }
}

@media (max-width: 414px){
    .tribe-location {
        height: 160px  !important;
        width: 200px  !important;
    }
}

.b-color{
    color: #7D2102 !important;
}

/* QUIZ */
.quizes-height{
    min-height: 350px;
    max-height: 2000px;
}
.quiz-title{
    cursor: pointer;
    font-weight: 600;
    font-family: ruda;
    font-size: large;
    color: #572102;
}
#quiz-block{
    font-size: large;
    
}
.block-quiz{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    border-radius: 50px 20px 20px 50px;
    text-align: left;
    color: white !important;
    text-decoration: none;
    margin: 2px;
    font-weight: 600;
}
.block-quiz:hover{
    color: white !important;
}
.left{
    width: 80%;
    text-align: right;
}
.block-quiz-result{
    margin: 0 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.quiz-content{
    display: none;  
}
.quiz-title.active .arrow {
    transform: rotate(90deg);
    font-size: 14px; 
}

.quiz-title .arrow {
    list-style: 1;
    transition: transform 0.6s ease;
    font-size: 14px; 
}
.arrow {
    vertical-align: middle;
    margin-top: -2px;
}

/* INSIDE QUIZ - QUIZ QUESTIONS */
.quiz-header{
    width: 100%;
    font-size: larger;
    background-color: #F78E1C;
    text-align: center;
    padding: 0 20px;
    height: 38px;
}
.quiz-header-text{
    width: 200px;
    margin: auto;
   
}
.quiz-header-text b{
    color: white !important;
}
.quiz-exit{
    cursor: pointer;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
}
.quiz-exit:hover{
    text-decoration: none;
}
.quiz-exit div:hover{
    text-decoration: none;
}
.quiz-exit div{
    text-decoration: none;
    bottom: 2.5px;
    position: relative;
    color: #F78E1C;
    font-size: 28px;
    font-weight: bolder;
}

.quiz-background{
    padding: 0 !important;
    width: 100% !important;
    margin-top: 0 !important;
    background-color: #FFE0A5;
}
#quiz-form{
    height: 280px;
}

.quiz-question{
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.101);
    width: 260px;
    padding: 4px;
    text-align: center;
    margin: auto;
}
.quiz-question b{
    color: #000 !important;
    font-weight: 500;
    font-family: poppins;
}
.quiz-options{
    z-index: 10;
    border-radius: 26px;
    padding: 14px 24px;
    background-color: #F78E1C;
    font-size: small;
    width: 400px;
    margin: auto;
}
.quiz-ans label{
    font-weight: bold;
    width: 100%;
    background-color: light;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 355px;
    border-radius: 22px;
    margin: 6px auto;
    padding: 6px 12px;
    transition: 0.5s;
    background-color: white;
}
.quiz-ans{
    transition: 0.6s;
    cursor: pointer;
    border-radius: 22px;
}
.quiz-ans:hover{
    box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.296)
}





/* afterlogin */

.login-title{
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 28%;
    left: 7%;
    width: 87%;
    text-align: justify;
    background-color: black;
}
.login-title b{
    color: white !important;
}
.login-text{
    font-size: 17px;
    padding: 0 13px;
    text-align: center !important;
    position: absolute;
    top: 35%;
    left: 7%;
    width: 87%;
    text-align: justify;
    background-color: black;
}
.login-text b{
    color: white !important;
}

/* community */


#add-post{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    text-align: center;
    position: fixed;
    bottom: 25%;
    right: 60px;
    font-size: 100px;
    font-weight: 600;
    color: rgba(100, 100, 100, 0.431);
    border: 4px solid rgba(100, 100, 100, 0.431);
}


.show-new-post{
    display: block !important;
}
.background-new-post{
    z-index: 99;
    display: none;
    background-color: rgba(43, 43, 43, 0.342);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}
.add-post-width{ 
    position: fixed;
    top: 25%; 
    width: 100%;
    z-index: 100;
    display: none;
}
.new-post{
    z-index: 999;
    background-color: white;
    width: 450px;
    margin: auto;
    padding: 20px;
}
.new-post-title{
    width: 100%;
    text-align: center;
    padding: 10px 0;
}
.publish-new-post{
    width: 100%;
    justify-content: center;
}
.publish-new-post > button{
    display: block;
    margin: auto;
    padding: 5px 10px;
    background-color: #C3282E;
    color: white;
    border: 0;
    border-radius: 12px;
}


.community-background{
    position: relative;
    background-color: #7cae43;
   
}

.community-posts{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(345px,1fr)); 
    gap: 12px;
    justify-content: space-evenly;
    align-items: start;
    justify-items: center;

    padding: 20px 0;
    margin-bottom: 60%;
}
@media (max-width: 770px){
    .community-posts{
        display: block !important; 
    }
    .post, .post-with-img{
        margin: 10px auto !important;
    }
    #add-post{
        z-index: 9999 !important;
        display: fixed !important;
        bottom: 50px !important;
        right: 25px !important;
       
    }
    .fixed-button {
        position: fixed;
        bottom: 20px; 
        right: 20px; 
        border: none;
        cursor: pointer;
        z-index: 1000; 
    }
    .new-post {
        width: 300px !important;
    }
}
@media (max-width: 770px){
    .new-post {
        width: 360px !important;
    }
}
@media (max-width: 400px){
    .post, .post-with-img{
        width: 250px !important;
    }
}
.post{
    overflow-y: scroll;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    width: 350px;
    height: 220px;
    margin: 2px;
}

.post::-webkit-scrollbar { 
    display: none;
}
.post-with-img::-webkit-scrollbar { 
    display: none;
}
.post-with-img{
    overflow-y: scroll;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    width: 350px;
    margin: 2px;
}
.post-author{
    width: 100%;
    padding: 2px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.post-author-img{
    width: 20px;
}
.post-author-img img{
    height: 100%;
    width: 100%;
}
.not-img{
    width: 0%;
    height: 0%;
}
.post-img{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 140px;
}
.post-img img {
    height: 100%;
}
.post-media{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 14px;
}
.post-media > div{
    margin: 0 3px;
}
.like-button{
    border: none;
    background-color: transparent;
}
.post-description{
    margin: 6px 0;
    text-align: justify;
    width: 100%;
}


.liked-red{
    color: #A82020 !important;
}
