{% extends 'base_heranca.html' %}
{% load static %}
{% block title %}
    {{page_title}}
{% endblock title %}
{% block content %}
<main class="main-width">
    <div class="top-title">
        <h1>Quem somos</h1>
    </div>
    <div class="about-info">
        <section class="about-info-text">
            <p>Bem-vindo ao <b>HERANÇA.BR</b> - Desvendando a História dos Povos Indígenas de Manacapuru!</p>
        </section>
        <section class="about-info-text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, vel libero! Totam, unde. Voluptas reprehenderit illo officiis autem, possimus dignissimos eaque debitis aliquid, corrupti dolor molestiae earum quos quidem eveniet.</p>
        </section>
        <section class="about-info-text">
            <h1><b>Nossa Missão</b></h6>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, vel libero! Totam, unde. Voluptas reprehenderit illo officiis autem, possimus dignissimos eaque debitis aliquid, corrupti dolor molestiae earum quos quidem eveniet.</p>
        </section>
        <section class="about-info-text">
            <h1><b>Nossa Missão</b></h6>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, vel libero! Totam, unde. Voluptas reprehenderit illo officiis autem, possimus dignissimos eaque debitis aliquid, corrupti dolor molestiae earum quos quidem eveniet.</p>
        </section>
        <section class="about-info-text">
            <h1><b>Nossa Missão</b></h6>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, vel libero! Totam, unde. Voluptas reprehenderit illo officiis autem, possimus dignissimos eaque debitis aliquid, corrupti dolor molestiae earum quos quidem eveniet.</p>
        </section>
        <section class="about-info-text">
            <h1><b>Nossa Missão</b></h6>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, vel libero! Totam, unde. Voluptas reprehenderit illo officiis autem, possimus dignissimos eaque debitis aliquid, corrupti dolor molestiae earum quos quidem eveniet.</p>
        </section>
        <section class="team">
            <div class="top-title">
                <h1>Nossa Equipe</h1>
            </div>
            <div class="team-mates">
                <div class="team-mate">
                    <div class="team-mate-img">
                        <img src="" alt="">
                    </div>
                    <div class="team-mate-text">
                        <h1>Camila Brito</h1>
                        <h2>Designer e CEO.</h2>
                    </div>
                </div>
                <div class="team-mate">
                    <div class="team-mate-img">
                        <img src="" alt="">
                    </div>
                    <div class="team-mate-text">
                        <h1>DEBORA CALHEIROS</h1>
                        <h2>Designer</h2>
                    </div>
                </div>
                <div class="team-mate">
                    <div class="team-mate-img">
                        <img src="" alt="">
                    </div>
                    <div class="team-mate-text">
                        <h1>DAIANE SOARES</h1>
                        <h2>Pesquisadora</h2>
                    </div>
                </div>
                <div class="team-mate">
                    <div class="team-mate-img">
                        <img src="" alt="">
                    </div>
                    <div class="team-mate-text">
                        <h1>HENRY COSTA</h1>
                        <h2>Pesquisador e Tradutor</h2>
                    </div>
                </div>
                <div class="team-mate">
                    <div class="team-mate-img">
                        <img src="" alt="">
                    </div>
                    <div class="team-mate-text">
                        <h1>ANA VITÓRIA</h1>
                        <h2>Pesquisadora</h2>
                    </div>
                </div>
            </div>
        </section>
        <section class="collaborators">
            <div class="top-title">
                <h1>Colaboradores</h1>
            </div>
            <h2><b>Matheus Ricardo</b> - Progamador</h2>
            <h2><b>Tiago da Silva</b> - Progamador</h2>
            <h2><b>Patrícia</b> - Ex-integrante e Pesquisadora</h2>
        </section>
    </div>
    
</main>
{% endblock content %}