{% extends "base_heranca.html" %}
{% load static %}
{% load i18n %}
{% csrf_token %}
{% block extra_styles %}
<style>
    body{
        background-color: #7cae43;
        background-image: url({% static 'heranca/images/comunidadeBackground.svg' %});
        background-position: top center;
        background-attachment: fixed;
        background-repeat: repeat;
        background-size: 160%;
        background-clip: border-box;
    }
</style>
{% endblock extra_styles %}
{% block title %}{{page_title}}{% endblock title %}

{% block scripts %}
<script>
            
    var add = document.getElementById('add-post')
    var background = document.getElementById('background-exit')
    var bg = document.getElementById('bg-exit')

    add.addEventListener('click', function (){
        background.classList.add('show-new-post')
        bg.classList.add('show-new-post')
    })
    background.addEventListener('click', function (){
        background.classList.remove('show-new-post')
        bg.classList.remove('show-new-post')
    })

    var footer = document.querySelector('footer');
        window.addEventListener('scroll', function () {
            if (window.scrollY + window.innerHeight < footer.offsetTop) {
                add.style.transform = 'translateY(0)';
            } else {
                add.style.transform = 'translateY(-30vh)';
            }
        });
</script>
{% endblock scripts %}


{% block content %}
<section id="background-exit" class="background-new-post"></section>
<div id="bg-exit" class="add-post-width">
    <div class="new-post">
        <div class="new-post-title"><h1>{% trans "Criar um post" %}</h1></div>
        <p>{% trans "Publicando como" %} {{user.username|title}}</p>
        <form class="new-post-form" id="form-new-post" method='POST' enctype="multipart/form-data" action="{% url 'community' %}">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-group">
                {{ form.image.label_tag }}
                {{ form.image }}
            </div>
            <div class="form-group">
                {{ form.description.label_tag }}
                {{ form.description }}
            </div>
            <div class="publish-new-post">
                <button type="submit">{% trans "Publicar!" %}</button>
            </div>
        </form>
        
    </div>
</div>
<main class="main-width ">

    <section class="community-posts">
        
        {% for post in posts %}
            <div class="{% if post.image %}post-with-img{% else %}post{% endif %}
            ">
                <div class="post-author">
                    {% if post.author.image %}
                        <div class="post-author-img">
                            <img src="" alt="img">
                        </div>
                    {% endif %}
                    <div class="post-author-name" >{{post.author}}</div>
                    <div class="left"></div>
                </div>
                {% if post.image %}
                    <div class="post-img">
                        <img src="{{post.image.url}} "alt="post-img">
                    </div>
                    <div class="post-media">
                        <div class="post-like" >
                            <form method="post" action="{% url 'like_post' post.id %}">
                                {% csrf_token %}
                                <button type="submit" class="like-button" data-post-id="{{ post.id }}">
                                    {% if post.is_liked %}
                                    <i class="liked-red fa fa-heart" aria-hidden="true"></i>
                                    {% else %}
                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                    {% endif %}
                                </button>
                            </form>

                        </div>
                        <div class="post-like">
                            <span class="likes-count" id="likes-count-{{ post.id }}">
                                        
                                {{ post.likes_count }}</span> 
                        </div>
                        <div class="post-share" ><i class="fa fa-paper-plane" aria-hidden="true"></i></div>
                        <div class="post-keep" ><i class="fa fa-bookmark" aria-hidden="true"></i></div>
                        <div class="left"></div>
                    </div>
                    <div class="post-description">
                        {{post.description}}
                    </div>
                {% else %}
                    <div class="post-description">
                        {{post.description}}
                    </div>
                    <div class="post-media">
                        <div class="post-like" >
                            <form method="post" action="{% url 'like_post' post.id %}">
                                {% csrf_token %}
                                <button type="submit" class="like-button" data-post-id="{{ post.id }}">
                                    {% if post.is_liked %}
                                    <i class="liked-red fa fa-heart" aria-hidden="true"></i>
                                    {% else %}
                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                    {% endif %}
                                </button>
                            </form>
                        </div>
                        <div class="post-like">
                            <span class="likes-count" id="likes-count-{{ post.id }}">
                                        
                                {{ post.likes_count }}</span> 
                        </div>
                        <div class="post-share" ><i class="fa fa-paper-plane" aria-hidden="true"></i></div>
                        <div class="post-keep" ><i class="fa fa-bookmark" aria-hidden="true"></i></div>
                        <div class="left"></div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </section>         
</main>
<button id="add-post" class="fixed-button">&plus;</button>
{% endblock content %}