{% extends 'base_heranca.html' %}
{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="pt-br">
<head>  
    {% block title %}
        {{page_title}}
    {% endblock title %}
</head>
<body>
    {% block content %}
    <main class="main-width">
       
        {% if letter_detail %}
            <div class="dict_block_popup">
                <h1 class="dict_letter-popup">{{ letter.letter_char }}</h1>
                {% for indigenous in letter.get_words %}
                    <div class="letter_detail">
                        <div class="dict_word_popup">
                            <h2><b>{{ indigenous.name }}:</b> {{ indigenous.description }}</h2>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="home_dict_top top-title">
                <h1 class="home_dict_title">Dicionário Indígena</h1>
            </div>  
            <div class="home_dict">
                {% for letter in letters %}
                <a href="{% url 'dict_details' letter.letter_char %}" class="dict_block">
                    <h1 class="dict_letter">{{ letter.letter_char }}</h1>
                    {% for indigenous in letter.get_words %}
                    <div class="letter_detail">
                        <div class="dict_word">
                            <h2><b>{{ indigenous.name }}:</b> {{indigenous.description }}</h2>
                        </div>
                    </div>
                    {% endfor %}
                </a>
                {% endfor %}
    
                {% for letter in letters %}
                <a href="{% url 'dict_details' letter.letter_char %}" class="dict_block">
                    <h1 class="dict_letter">{{ letter.letter_char }}</h1>
                    {% for indigenous in letter.get_words %}
                    <div class="letter_detail">
                        <div class="dict_word">
                            <h2><b>{{ indigenous.name }}:</b> {{indigenous.description }}</h2>
                        </div>
                    </div>
                    {% endfor %}
                </a>
                {% endfor %}
            </div>  
        {% endif %}
    </main>
    {% if letter_detail %}
    <section class="img-gratient-detail">
        <div class="bottom-img-popup">
    {% else %}
        <section class="img-gratient">
        <div class="bottom-img">
    {% endif %}
                <img src="{% static 'heranca/images/dict/bottom2.svg' %}" alt="">
            </div>
    </section>
    
    
    {% if letter_detail %}   
    <section class="see_more_dict">
            <h2>Veja mais sobre a cultura indígena!</h2>
            <div class="more-dict">
                {% for dict in more_dict %}
                    <a class="more_dict_block" href="{% url 'dict_details'  dict.letter_char %}">
                        <h1 class="dict_letter">{{ dict.letter_char }}</h1>
                        {% for indigenous in dict.get_words %}
                        <div class="more_dict_detail">
                            <div class="more_dict_dict_word">
                                <h2><b>{{ indigenous.name }}:</b> {{indigenous.description }}</h2>
                            </div>
                        </div>
                        {% endfor %}
                    </a>
            
                {% endfor %}
            </div>
        </section>   
    {% endif %}
    {% endblock content %}
</body>
