{% extends 'base_heranca.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {{page_title}}
{% endblock title %}
<body>
    
    {% block content %}
    <main>
        {% include 'heranca/partials/home1.html' %}
        <section class="home3">
            <h2>{% trans "Notícias" %}</h2>
            <div class="slide-button">
                <div class="slide-button-content">
                    <button class="slide-prev-btn"><i class="fas fa-chevron-left"></i></button>
                    <div class="slide-btn-center"></div>
                    <button class="slide-next-btn"><i class="fas fa-chevron-right"></i></button>
                </div>
                <div class="slides owl-carousel">      
                    {% for new in news|slice:":10" %}
                    <div class="slide">
                        <div class="slide-content">
                            <img class="slide-img" src="{{ new.image.url }}" alt="{{ new.titulo }}">
                            <h2 class="slide-title">{{ new.titulo }}</h2>
                        </div>
                    </div>
                    {% endfor %} 
                </div>   
               
            </div>
            <div class="slide-selection">
                
                {% for new in news|slice:":10" %}
                <input class="slide-option" hidden type="radio" name="slide" id="slide{{ forloop.counter }}" {% if forloop.first %}checked{% endif %} data-position="{{ forloop.counter }}">
                <label class="slide-option-btn" for="slide{{ forloop.counter }}"></label>
                {% endfor %}
            </div>
            <a class="more-news signup">
                {% trans "Mais Notícias" %}
            </a>
        </section>      
        <script>
            jQuery(document).ready(function($) {
            var owl = $('.owl-carousel');
            var prevBtn = $('.slide-prev-btn');
            var nextBtn = $('.slide-next-btn');
            var currentSlide = 0;
            
            owl.owlCarousel({
                center: true,
                loop: true,
                autoplay: true,
                autoplayTimeout: 10000, 
                items: 3,
                margin: 10,
                responsive: {
                    0: {
                        items: 1
                    },
                    768: {
                        items: 3
                    }
                }
            });


            owl.on('changed.owl.carousel', function(event) {
                currentSlide = event.item.index + 1;
            });
        
            prevBtn.on('click', function() {
                currentSlide = (currentSlide - 1) % owl.find('.owl-item').length + 1;
                updateSlideOption(currentSlide);
                owl.trigger('prev.owl.carousel');
            });
        
            nextBtn.on('click', function() {
                currentSlide = currentSlide % owl.find('.owl-item').length + 1;
                updateSlideOption(currentSlide);
                owl.trigger('next.owl.carousel');
            });
        
            $('.slide-option').on('change', function() {
                var position = $(this).data('position');
                currentSlide = position;
                owl.trigger('to.owl.carousel', position - 1);
            });
        
            function updateSlideOption(slideNumber) {
                $('.slide-option').prop('checked', false);
                $('#slide' + slideNumber).prop('checked', true);
            }
        });
        </script>        
        <section class="home4">

            <div class="phrase">
                <div class="phrase-text">
                    <p class="phrase-main-text">{% trans "Enquanto existir uma erva, uma árvore ou um rio no planeta, nós povos indígenas existiremos." %}</p>
                    <p class="phrase-author-text" >– Edilene Batista Kiriri -</p>
                </div>
                <div class="phrase-img">
                    <img class="indio" src="{% static 'heranca/images/indio.png'%}" alt="indio">
                </div>
            </div>
        </section>
        <section class="home5">
            <div class="home5-blocks">
                <div class="home5-block">
                    <div class="home5-block-img">
                        <img src="{% static 'heranca/images/quiz.png'%}" alt="">
                    </div>
                    <div class="home5-block-subtext">
                        <p>{% trans "Neste quiz, convidamos você a embarcar em uma jornada fascinante pela " %}
                            <b>{% trans "herança cultural de tribos indígenas." %}</b>
                            {% trans "Explore conosco " %}
                            <b>{% trans "a riqueza das tradições, histórias e costumes" %}</b> 
                            {% trans "que moldaram essas comunidades ao longo dos séculos.
                            Pronto para se aventurar e descobrir a herança cultural dessas tribos indígenas?" %}
                        </p>
                        <a class="icon-more" href="{% url 'account_signup' %}">{% trans "Cadastre-se para sabe mais" %}</a>
                    </div>
                </div>
                <div class="home5-block">
                    <div class="home5-block-img">
                        <img src="{% static 'heranca/images/quiz.png'%}" alt="">
                    </div>
                    <div class="home5-block-subtext">
                        <p>{% trans "Neste quiz, convidamos você a embarcar em uma jornada fascinante pela " %}
                            <b>{% trans "herança cultural de tribos indígenas." %}</b>
                            {% trans "Explore conosco " %}
                            <b>{% trans "a riqueza das tradições, histórias e costumes" %}</b> 
                            {% trans "que moldaram essas comunidades ao longo dos séculos.
                            Pronto para se aventurar e descobrir a herança cultural dessas tribos indígenas?" %}
                        </p>
                        <a class="icon-more" href="{% url 'account_signup' %}">{% trans "Cadastre-se para sabe mais" %}</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% endblock content %}
    {% block scripts %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    {% endblock scripts %}
</body>
</html>