{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="pt-br">
<head>    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extra_styles %}
    
    {% endblock extra_styles %}
    <link rel="stylesheet" href="{% static './heranca/css/stylesmatheus.css' %}">

    <link rel="shortcut icon" href="{% static './heranca/images/logo.png' %}" type="image/x-icon">
    <title>Herança - {% block title %}{% endblock title %}</title>

</head>
<body>
    {% include './heranca/partials/sidebar.html' %}
    {% include './heranca/partials/header.html' %}
    {% if 'accounts' in request.path %}
        {% block content_auth %}
        {% csrf_token %}
        {% endblock content_auth %}
    {% else %}
        {% block content %}
        {% csrf_token %}
        {% endblock content %}
    {% endif %}
    {% include './heranca/partials/footer.html' %}
    <script src="{% static 'heranca/js/sidebar.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% block scripts %}
    {% endblock scripts %}
    {% block quiz_scripts %}
    {% endblock quiz_scripts %}
</body>
</html>