*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: 'ruda';
    src: url(../fonts/Ruda-Black.ttf) format('truetype');
}
@font-face {
    font-family: 'articulate';
    src: url(../fonts/Articulate.ttf) format('truetype');
}
@font-face {
    font-family: 'poppins';
    src: url(../fonts/Poppins-Medium.ttf) format('truetype');
}
@font-face {
    font-family: demo;
    src: url(../fonts/Bright.otf) format('opentype');
}


header{
    background-color: rgb(255, 255, 255);
    padding: 30px 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.header-logo{
    display: block;
    width: 100px;
  
}
.search-icon{
    position: relative; 
    right: 40px;
    width: 28px;
}
.header-form{
    display: flex;
    align-items: center;
    width: 400px;
}

.header-nav{
    font-family: ruda-black;
}
.header-nav-ul{
    font-family: helvetica;
    display: flex;
}
.nav-li{
    list-style: none;
}
.sidebar-btn{
    display: none;
}
.header-search{
    font-size: 16px;
    display: inline;
    margin: auto;
    width: 100%;
    height: 38px;
    border-radius: 8px;
    padding-left: 10px;
    border: 2px solid #572102;

}
.nav-li-links{
    text-align: center;
    color: #602417;
    text-decoration: none;
    display: block;
    font-size: 17px;
    padding: 5px 10px;
    margin: 0 24px 0 0;

}
.home1{
    padding: 20px;
}
.home1-block{
    display: flex;
    justify-content: space-between;
    height: 520px;
}
.block1, .block2{
    display: flex;
    justify-content: center;
    align-items: center;
   
   /* border: 1px solid black;*/
    margin: 0px 20px;
    padding: 0px 20px;
}
.block1{
    width: 59%;
}
.block2{
    width: 41%;
}

.block1-title{
    font-family: ruda;
    font-size: 3.2vw;
    color: #C3282E;
    margin-bottom: 10px;
    text-align: justify;
    
}
.block1-text{
    font-size: 2.3vw;
    font-weight: 500;
    text-align: justify;
    text-indent: 50px;

    letter-spacing: 1px;
}

.block3 > div, .block3{
    width: 200px;
    display: none;
}
@media (min-width: 1568px) {
    .block1-title{
        font-size: 55px !important;
    }
    .block1-text{ 
        font-size: 35px !important;
    }
}
@media (max-width:1235px){
    .header-form{
        width: 300px !important;
    }
    .nav-li-links{
        margin: 0 14px 0 0 !important;
    
    }
    .home1{
        padding: 0px !important;
    }
    .home1-block{
        display: block !important;
        margin: auto !important;
        height: 720px !important;
    }
    .block3 > div, .block3{
        width: 400px !important;
        display: block !important;
        margin: auto !important;
    }
    .block3 > div > img{
        width: 100% !important;
        height: 100% !important;
    }

    .block1, .block2, .block3{
        display: block !important;
        margin: auto !important;
        width: 83% !important;
        padding:  0px !important;    
    }
    .block > div, .block2 > div{
        display: block !important;
        margin: auto !important;
       
    }

}
@media (max-width: 980px){
    .header-nav{
        display: none !important;
    }
    .sidebar-btn{
        display: block;
    }
    .block3 > div, .block3{
        width: 280px !important;
    }
    .signup{
        font-size: 16px !important;
        padding: 9px 18px !important;
        width: 140px !important;
    }
}
@media (max-width:650px){
    .signup{
        font-size: 14px !important;
        padding: 8px 7px !important;
        width: 135px !important;
    }
}
@media (max-width:415px){
    .header-logo{
        display: none !important;
    }
    .block3 > div, .block3{
        width: 230px !important;
    }
    .signup{
        font-size: 10px !important;
        padding: 8px 7px !important;
        width: 120px !important;
    }

}

.signup{
    display: block;
    padding: 10px 24px;
    width: 180px;
    border-radius: 12px;
    transition: 0.3s ease-in-out;
    text-align: center;
    font-family: ruda;
    font-size: 20px;
    text-decoration: none;
    margin: 30px auto 10px auto;
    background: #C3282E;
    color: #ffffff;

}
.signup:hover{
    transform: translateY(-10px);
}

/* Home2 */

.icons{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.icon-li{
    list-style: none;
    text-align: center;
    
}
.icon-li img{
    display: block;
    margin: auto;
}
.icon-li a{
    display: inline-block;
    width: 170px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}
.icon-li:hover{
    transition: 0.3s ease-in-out;
    transform: translateY(-10px);
}

.icon-li h1{
    display: block;
    margin: auto;
    position: relative;
    bottom: 30px;
    border-radius: 20px;
    padding: 5px 10px;
    color: white;
    background-color: #CC362F;
    font-family: ruda;
    text-align: center;
    font-size: 24px;
}
