{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block extra_styles_main %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock extra_styles_main %}

{% block title %}
{{page_title}}
{% endblock title %}

{% block content %}
<main class="main-width">
    <div class="top-title">
        <h1>{% trans "Quiz - Tribos Indígenas" %}</h1>
    </div>

    <div class="modal fade" id="quizStartModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">{% trans "Começar" %}?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body" id="modal-body-confirm"></div>
            <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">{% trans "Não" %}</button>
            <button type="button" id="start-button" class="btn btn-success">{% trans "Sim" %}</button>
            </div>
        </div>
        </div>
    </div>
    <section class="quizes-height">
    {% for quiz in quiz_related %}
        {% if quiz.get_not_none > 0 %}
            <div class="quiz-title" id="quiz-block">
                <i class="arrow fas fa-chevron-right"></i> {{ quiz.name }}
            </div>
            <div class="quiz-content">
                {% for data in quiz_data %}
                    {% if data.quiz.quiz_related == quiz %}
                        <a
                        {% if data.quiz.difficulty == "easy" %}class="bg-success
                        {% elif data.quiz.difficulty == "medium" %}class="bg-warning
                        {% elif data.quiz.difficulty == "hard" %}class="bg-danger
                        {% endif %}
                        block-quiz btn btn-link modal-button"
                        data-pk="{{ data.quiz.pk }}"
                        data-quiz="{{ data.quiz.name }}"
                        data-questions="{{ data.quiz.number_of_questions }}"
                        data-difficulty="{{ data.quiz.difficulty }}"
                        data-time="{{ data.quiz.time }}"
                        data-pass="{{ data.quiz.required_score_to_pass }}"
                        data-toggle="modal"
                        data-target="#quizStartModalCenter"
                        >
                        <div class="block-quiz-result">
                            {% if data.user_result is None%}0{% else %}{{ data.user_result }}{% endif %}/{{ data.quiz.number_of_questions }}
                        </div>
                        {{ data.quiz.name|title }} - Nivel {{ data.quiz.difficulty|title }}
                        <div class="left">
                            {% if data.user_result is None%}
                                {% trans "JOGAR!" %}
                            {% else %}
                                {% trans "JOGAR DE NOVO!" %}
                            {% endif %}
                        </div>
                    </a>
                    {% endif %}
                {% endfor %}    
            </div>
        {% endif %}
    {% endfor %}          
    </section>
</main>
<section class="img-gratient">
    <div class="bottom-img">
        <img src="{% static 'heranca/images/dict/bottom2.svg' %}" alt="">
    </div>
</section>
{% block scripts %}
    <script src="{% static 'quizes/main.js' %}" defer></script>
{% endblock scripts %}
{% endblock content %}

